.epc-view-home {

  /* takes the full size of main-body */
  width: 100%;
  height: 100%;

  /* border: 2px dashed black; */
}

#epc-ag-grid-home {

  /* 32px is the height of the title "EPC2.0"*/
  width: 100%;
  height: calc(100% - 32px);

}