@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* * {
    @apply text-skin-base
  } */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  color: var(--color-text-base);
  background-color: var(--color-bg-base);
}

@layer base {
  :root {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 199, 210, 254;
    --color-text-inverted: 79, 70, 229;
    --color-fill: 67, 56, 202;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 238, 242, 255;
    --color-button-muted: 99, 102, 241;
  }
}

.theme-light {
  --color-text-base: #00072d;
  --color-text-muted: #ffffff;
  --color-text-inverted: #ffffff;

  --color-bg-base: #F0F5F9;
  --color-bg-mutued: #4E4FEB;
  --color-bg-inverted: #4E4FEB;
}

.theme-dark {
  --color-text-base: #F0F5F9;
  --color-text-muted: #F0F5F9;
  --color-text-inverted: #F0F5F9;

  --color-bg-base: #00072d;
  --color-bg-mutued: #4E4FEB;
  --color-bg-inverted: #4E4FEB;
}


.theme-warm {
  --color-text-base: #F0F5F9;
  --color-text-muted: #F0F5F9;
  --color-text-inverted: #F0F5F9;

  --color-bg-base: #00072d;
  --color-bg-mutued: #4E4FEB;
  --color-bg-inverted: #4E4FEB;
}

/* ! Note on colors

These are some areas that i should design colors for:

1. backgrounds -> primary, secondary, active, in-active
2. outlines - for elemetns that have outlines, such as main-sidebar
3. borders
4. drop shadows -> box-shadows, other types of shadows

*/