@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* p {
    @apply bg-skin-fill text-skin-base
  }

  div {
    @apply bg-skin-fill text-skin-base
  } */

  /* * {
    @apply bg-skin-fill text-skin-base
  } */
}

/*
background-color: "var(--bgColor)";
*/



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  :root {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 199, 210, 254;
    --color-text-inverted: 79, 70, 229;
    --color-fill: 67, 56, 202;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 238, 242, 255;
    --color-button-muted: 99, 102, 241;
  }
}

.theme-dark {
  --bgColor: #333333;
  --textColor: #ffffff;

  --color-text-base: #ffffff;
}

.theme-light {
  --bgColor: #84c2ee;
  --textColor: rgb(1, 1, 1);

  --color-text-base: #9c0909;

}

.theme-warm {
  --bgColor: #ae9c42;
  --textColor: #893535;

  --color-text-base: #710082;
}