/* # Main-Sidebar -> START -------------------------------*/
.main-sidebar {
  --content-margin: 1em;
  --content-top-margin: 2em;
  --content-bottom-margin: 2em;
  --content-colsed-top-margin: 2em;
  --main-sidebar-header-height: 8em;
  --main-sidebar-footer-height: 8em;

  --shadow-color: 0deg 0% 0%;

  position: relative;

  /* transition: all 0.3s ease-in-out; */
  /* transition-property: width; */
  transition: all 0.5s ease-in-out;

  /* border: 1px solid rosybrown; */
}

.main-sidebar.open {
  width: var(--sidebar-is-open-width);
  box-shadow:
    0.4px 0px 0.6px hsl(var(--shadow-color) / 0.02),
    1.7px 0.1px 2.4px -0.1px hsl(var(--shadow-color) / 0.06),
    3.1px 0.1px 4.4px -0.3px hsl(var(--shadow-color) / 0.09),
    5.4px 0.2px 7.7px -0.4px hsl(var(--shadow-color) / 0.12),
    9.5px 0.3px 13.5px -0.5px hsl(var(--shadow-color) / 0.15);
}

.main-sidebar.closed {
  width: var(--sidebar-is-closed-width);

  box-shadow:
    0.4px 0px 0.6px hsl(var(--shadow-color) / 0.03),
    0.9px 0px 1.3px -0.3px hsl(var(--shadow-color) / 0.09),
    1.9px 0.1px 2.7px -0.5px hsl(var(--shadow-color) / 0.16);
}

/* Main-Sidebar -> END ----------------------------------*/

/* Main-Sidebar-Content -> START -----------------------*/
.main-sidebar-content {
  min-height: calc(100vh - var(--content-top-margin) - var(--content-bottom-margin));

  margin: var(--content-margin);
  margin-top: var(--content-top-margin);
  margin-bottom: var(--content-bottom-margin);


  display: flex;
  flex-direction: column;

  /* transition: all 0.5s ease; */
  /* border: solid 2px lightsalmon; */
}

.main-sidebar.closed .main-sidebar-content {
  margin: 0;
  margin-top: var(--content-top-margin);
  min-height: calc(100vh - var(--content-top-margin));
}

/* Main-Sidebar-Content -> END -----------------------*/

/* Main-Sidebar-Header -> START -------------------------*/
.main-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--main-sidebar-header-height);

  transition: all 0.5s ease;

  /* border: solid 2px black; */
}

#sidebar-toggle-icon {

  position: absolute;
  right: -14px;
  top: 10em;

  padding: 2px;

  z-index: 20;

  cursor: pointer;

  border-radius: 50%;
  outline: 1px solid gray;

  background: white;

  /* border: solid 1px black; */
}

#sidebar-toggle-icon:hover {
  box-shadow:
    -0.3px 0.1px 0.5px hsl(var(--shadow-color) / 0),
    -7.4px 1.4px 11.3px hsl(var(--shadow-color) / 0.33);
  /* transition: all 0.1s ease; */
}

/* Main-Sidebar-Header -> END -------------------------*/


/* Main-Sidebar-Body -> START -------------------------*/
.main-sidebar-body {

  height: calc(100vh - var(--main-sidebar-header-height) - var(--main-sidebar-footer-height) - var(--content-top-margin) - var(--content-bottom-margin));

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  /* border-top: 2px solid black; */
  /* border-bottom: 2px solid black; */

  /* border: 2px solid lightgreen; */
}

.main-sidebar-link {
  display: flex;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 16px;

  cursor: pointer;

  /* border: solid 2px lightsalmon; */
}

#main-sidebar-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 5em;

  padding: 1em;

  /* border: 2px solid black; */
}

.user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}


/* Main-Sidebar-Body -> END-------------------------*/



/* Main-Sidebar-Footer -> START -------------------------*/
.main-sidebar-footer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: var(--main-sidebar-footer-height);

  /* border: 2px solid black; */
}

.main-sidebar-footer-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0.6;

  /* border: solid 2px red; */
}

#main-sidebar-footer-tec-logo.closed {
  width: 40px;
}

#main-sidebar-footer-tec-logo.open {
  width: 60px;
}

#main-sidebar-footer-eagle-logo.closed {
  width: 40px;
}

#main-sidebar-footer-eagle-logo.open {
  width: 120px;
}



/* Main-Sidebar-Footer -> END -------------------------*/