/* TODO a --------------------- */
.vertical-lines-root {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;

  /* height: 100%; */

  width: var(--base-grid-width);
  left: calc(var(--base-grid-x-offset) / 2);
  position: sticky;
  /* position: absolute; */
  /* top: 0; */
  /* top: 10px; */
  top: var(--grid-titles-height);
  /* bottom: 0 !important; */

  /* height: calc(100% - 3rem); */
  /* height: 100%; */
  /* width: inherit; */

  /* position: fixed; */
  /* position: absolute; */
  /* position: relative; */
  /* top: 0; */
  /* bottom: 0; */
  /* width: 100%; */
  /* pointer-events: none; */
  /* top: calc(var(--page-title-height) + var(--titles-height)); */
  /* height: 100%; */


  /* margin-left: 3rem; */
  /* margin-right: 3rem; */

  /* border: 4px solid black; */
}