.live-dashboard-page {
  margin: 2rem;
  border: 1px solid gray;

  /* 4rem-top and bottom margin, 2px-top and bottom border */
  min-height: calc(100vh - 7rem);

  min-width: 90vw;

}

.dashboard-root {
  border: 1px solid red;
}