.lot-progress {
  position: relative;
  left: -5px;
  width: calc(100% + 10px);

  padding-top: 20px;
  padding-bottom: 20px;

  /* border: 2px solid salmon; */
}

.lot-progress-root {
  /* margin-left: calc(3rem - 6px); */
  /* margin-right: calc(3rem - 6px); */

  position: relative;
  /* border: 1px solid red; */

  display: flex;
  min-height: 24px;

  align-items: center;
  /* border: 2px solid salmon; */
}

.lot-progress-line {
  position: relative;
  z-index: 1;

  height: 1px;
  width: 100%;
  /* background-color: black; */

}

.lot-progress-green-bar {
  position: absolute;
  z-index: 2;

  height: 6px;
}

.lot-progress-symbols {
  position: absolute;
  z-index: 3;

  display: flex;
  justify-content: space-between;

  width: 100%;
}

.green-bar {
  display: inline-block;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-checkmark {
  position: relative;
  top: -5px;
}