.vertical-grid {
  height: 90vh;

  /* border: 1px solid red; */
}

.titles {
  display: flex;

  justify-content: space-between;

  /* border: 1px solid green; */
}

.title {
  width: 6rem;

  text-align: center;
  align-self: flex-end;

  margin: 0px;

  /* border: 1px solid blue; */
}


.vertical-lines-root {
  height: calc(100% - 3rem);

  display: flex;
  justify-content: space-between;

  margin-left: 3rem;
  margin-right: 3rem;

  /* border: 1px solid black; */
}