/* # sidebar ------------[start] */
.sidebar {

  position: sticky;
  top: 0;

  height: 100vh;

  transition: all 0.3s ease;

  background-color: beige;
  border: 2px solid lightsalmon;
}

.sidebar.open {
  width: var(--sidebar-is-open-width);
}

.sidebar.closed {
  width: var(--sidebar-is-closed-width);
}


/* # sidebar --------------[end] */