/* # ======= Sidebar ======== */
.sidebar {
  /* flex-shrink will not allow it to shrink */
  /* will always have the static width that is set */
  flex-shrink: 0;
  overflow: hidden;

  width: 72px;
  height: calc(100vh - var(--header-height));

  position: sticky;
  top: var(--header-height);

  border-right: 1px solid lightgray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 1rem;

  transition: width var(--animation-duration) var(--animation-timing-curve);
  /* background-color: aliceblue; */
  /* border: 4px solid lightsalmon; */
}

.sidebar.open {
  width: 240px;
}


/* # ======= Sidebar-content ======== */
.sidebar-content {
  flex-grow: 1;
  width: 100%;
  padding: 0 12px;
}

.sidebar-content-item {
  display: flex;
  align-items: center;

  margin: 1rem 0;

  height: 52px;
}

.sidebar-content-item:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: lightgray;
}

.sidebar.open .sidebar-content-item {
  justify-content: start;
}

.sidebar .sidebar-content-item.active {
  border-radius: 10px;
  background-color: lightgray;

  outline: 1px solid gray;
}

.item-icon {
  margin-left: 12px;
  margin-right: 24px;
}

.sidebar-content-item svg {
  width: 24px;
  height: 24px;
}

.sidebar-content-item p {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
}

.sidebar .expand-only {
  display: none;
}

.sidebar.open .expand-only {
  display: block;
}

/* # ======= Sidebar-footer ======== */
.sidebar-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 3rem;
}

.sidebar-footer img {
  width: 44px;
  margin: 1rem 0;
  opacity: 0.8;
}

.sidebar.open .contract-only {
  display: none;
}

.sidebar.open .expand-only {
  width: 140px;
}